/* index */
* {
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    /* outline: 1px solid tomato; */
}
#root{
    display: flex;
    flex-direction: column;
}


.todo-list{
    display: flex;
    flex-direction: column;
    outline: 5px solid black;
    margin: 50px;
    gap:10px;
}

.todo-item{
    display: flex;
    border: 5px solid blue;
    width: 100%;
    justify-content: space-between;
}

#delete{
    color: red;
    background-color: red;
    padding: 4px;
    border-radius: 20px;
}
