/* index */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid tomato; */
    font-family: 'Rubik', sans-serif;
    color: white;
}
:root{
    --back-color:#5d616e;
    --color-todo:#323642;
    --back-containers:#3d4351;
    --naraja:#fc755b;
}

p{
    color: var(--naraja);
}

body{
    background-color: var(--back-color);
}

.icons:hover{
    cursor: pointer;
}
#root{
    background-color: var(--color-todo);
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    margin: 2rem;
    border-radius: 20px;
    padding: 30px;
    min-width: 300px;
}

.header-todo{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.header-todo > img{
    /* width: 50px;
    height: 50px; */
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
}

.search-container{
    display: flex;
    justify-content: space-between;
}
.input-search{
    background-color: var(--back-containers);
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.input-search > img{
    width: 25px;
    height: 25px;
}

.input-search > input{
    width: 90%;
    background-color: var(--back-containers);
    border: none;
    padding: 0 10px;
    font-size: 1rem;
}

.input-search > input:focus{
    border: none;
    outline: none;
}

.search-container > button{
    background-color: var(--naraja);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: none;
    margin-left: 1rem;
    padding: 10px;
}

.list-todo{
    margin: 20px 0 ;
}

.item-todo{
    list-style: none;
    margin: 20px 0 ;
    background-color: var(--back-containers);
    padding: 15px;
    border-radius: 20px;
    min-height: 100px;
    position: relative;
    display: flex;

}

#check{
    width: 2rem;
    height: 2rem;
    margin-right: 10px;
}
#delete{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: -12px;
    right: 20px;
}

.item-todo > span{
    margin-top: 3px;
}

.created-date{
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: .7rem;
    color: #747474;
    font-weight: 900;
}

@media (width < 300px) {
    #root{
        margin: 0 !important;
        border-radius: 0;
    }
}