/* index */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid tomato; */
    font-family: 'Rubik', sans-serif;
    color: white;
}

:root{
    --back-color:#5d616e;
    --color-todo:#323642;
    --back-containers:#3d4351;
    --naraja:#fc755b;
}

p{
    color: var(--naraja);
}

button{
    color: black;
}

body{
    background-color: var(--back-color);
}

.invisible{
    display: none !important;
}

.icons:hover{
    cursor: pointer;
}

#root{
    background-color: var(--color-todo);
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    margin: 2rem;
    border-radius: 20px;
    padding: 30px;
    min-width: 300px;
}

.profiles-container{
    display: flex;
    justify-content: end;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

.pic-profile{
    width: 50px;
    background-color: var(--back-containers);
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    background-color: aliceblue;
    
}

.pic-profile > img{
    width: 100%;
}

.user-profile{
    font-size: .8rem;
    text-align: center;
    margin: 5px;
}

.new-profile{
    width: 50px;
    background-color: var(--back-containers);
    height: 50px;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;


}
/* .new-profile > span{
    position: absolute;
    font-size: 0.8rem;
    text-align: center;
    width: 60px;
    bottom: -20px;
} */
.header-todo{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
}

.header-todo > img{
    /* width: 50px;
    height: 50px; */
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    border: 2px solid black;
    background-color: aliceblue;
}

.header-todo > div > p{
    margin-top: 10px;
}

.search-container{
    display: flex;
    justify-content: space-between;
}
.input-search{
    background-color: var(--back-containers);
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.input-search > img{
    width: 25px;
    height: 25px;
}

.input-search > input{
    width: 100%;
    background-color: var(--back-containers);
    border: none;
    padding: 0 10px;
    font-size: 1rem;
}

.input-search > input:focus{
    border: none;
    outline: none;
}

.search-container > button{
    background-color: var(--naraja);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: none;
    margin-left: 1rem;
    padding: 10px;
}

.list-todo{
    margin: 20px 0 ;
}

.item-todo{
    list-style: none;
    margin: 20px 0 ;
    background-color: var(--back-containers);
    padding: 15px;
    border-radius: 20px;
    min-height: 100px;
    position: relative;
    display: flex;

}

.hola{
    background-color: aqua;
}

#check{
    width: 2rem;
    height: 2rem;
    margin-right: 10px;
}
#delete{
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    top: -10px;
    right: 20px;
}

.item-todo > span{
    margin-top: 3px;
}

.todo-checked{
    text-decoration-line: line-through;
}

.created-date{
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: .7rem;
    color: #747474;
    font-weight: 900;
}

.create-todo{
    position:fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 40px;
    width: 50px;
    height: 50px;
    background-color: var(--naraja);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px black;
    
}

.modal-create-todo{
    background-color: rgba(0, 0, 0, 0.671);
    width: 50%;
    height: 50%;
    position: fixed;
    min-width: 250px;
    align-self: center;
    top: 25%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;

}

.modal-create-todo input{
    color: black;
}




@media (width < 300px) {
    #root{
        margin: 0 !important;
        border-radius: 0;
    }
}